In [31]:
import ROOT
import pandas as pd

In [32]:
df = pd.read_csv("/volatile/clas12/users/gmat/clas12analysis.sidis.data/rgc/sidisdvcs/test8.3.2/rcdb.csv")
df = df.sort_values(by="Run")

In [33]:
df

,Run,beamE,beamCurrent,Nevents,eventRate,isValid,Tpol,HWP,Target,CookType
30,16290,10547.3,0.005297,100298656,2183.8900,True,0.037899,1,C,TBT
2,16300,10547.3,3.928270,73623193,1564.2700,True,-0.002764,1,CH2,TBT
21,16309,10547.3,2.625480,33322195,987.6140,True,-0.002764,1,Empty,TBT
6,16403,10547.3,-0.000662,72967323,936.2580,True,0.190890,1,ND3,TBT
37,16404,10547.3,3.700070,64561393,34.2143,True,0.231470,1,ND3,TBT
45,16405,10547.3,3.889430,34794385,148.4540,True,0.266473,1,ND3,TBT
25,16406,10547.3,3.729200,27315940,1467.8300,True,-0.003662,1,ND3,TBT
0,16407,10547.3,0.007725,18136339,315.3610,True,0.294305,1,ND3,TBT
29,16681,10547.3,4.309420,72968098,2364.6900,True,0.575270,0,NH3,TBT
43,16683,10547.3,1.793200,67942703,203.5990,True,0.572196,1,NH3,TBT
19,16700,10547.3,3.522620,67249267,800.3120,True,0.570829,1,C,TBT
24,16704,10547.3,3.933570,66148102,485.1630,True,0.002819,1,C,TBT
51,16717,10547.3,3.761860,51942513,134.1040,True,0.574643,1,NH3,TBT
4,16720,10547.3,3.676670,32749719,127.4410,True,0.566081,0,NH3,TBT
50,16726,10547.3,3.718610,67130201,1518.1100,True,-0.502390,0,NH3,TBT
10,16728,10547.3,3.848600,57919646,255.5000,True,-0.512262,0,NH3,TBT
47,16744,10547.3,0.000221,71642942,361.6190,True,-0.517163,1,NH3,TBT
7,16746,10547.3,0.007945,65867687,1793.6400,True,-0.507830,1,NH3,TBT
52,16750,10547.3,-0.003531,66965853,2101.1100,True,-0.512551,0,NH3,TBT
41,16759,10547.3,3.843080,78105575,977.3680,True,-0.500534,1,NH3,TBT
16,16762,10547.3,3.664090,69187287,1203.2800,True,-0.508841,0,NH3,TBT
42,16768,10547.3,3.838890,58727246,2000.5900,True,0.587043,0,NH3,TBT
39,16770,10547.3,3.828070,54060695,1960.6200,True,0.581759,1,NH3,TBT
26,16772,10547.3,3.926290,52601688,2251.5600,True,0.573531,1,NH3,TBT
36,16874,10547.3,7.890310,126319146,341.8670,True,-0.008283,1,C,TBT
14,16877,10547.3,7.812840,138506447,230.2170,True,-0.008283,1,C,TBT
40,16889,10547.3,1.133520,148000367,11140.5000,True,0.344011,1,ND3,TBT
58,16911,10547.3,6.838010,101571153,263.6250,True,0.350153,0,ND3,TBT
23,16912,10547.3,6.850360,71759295,172.3070,True,0.342504,0,ND3,TBT
15,16913,10547.3,6.878610,86423746,75.9412,True,0.341175,0,ND3,TBT
12,16922,10547.3,-0.006400,106048100,8666.5000,True,0.321474,0,ND3,TBT
8,16979,10547.3,-0.001545,5038509,821.7940,True,0.004181,0,Empty,TBT
35,16983,10547.3,7.057820,83530953,792.2330,True,0.707360,0,NH3,TBT
9,16990,10547.3,7.646660,100248071,397.8950,False,0.669132,1,NH3,TBT
49,16992,10547.3,2.150300,98468084,187.3300,False,0.656210,1,NH3,TBT
57,17001,10547.3,7.888990,100028337,1251.7100,True,-0.699200,1,NH3,TBT
46,17015,10547.3,-0.100861,50109726,1232.3900,True,-0.643556,0,NH3,TBT
55,17019,10547.3,7.787910,97645773,2072.6300,True,-0.637969,0,NH3,TBT
38,17076,10556.3,7.426180,84103414,711.4210,True,0.759002,0,NH3,TBT
28,17085,10556.3,6.112120,29688747,1264.3000,True,0.737114,1,NH3,HBT
11,17088,10556.3,0.454866,52373900,365.7960,True,0.732985,1,NH3,TBT
56,17092,10556.3,5.660340,62864240,992.0180,True,0.731344,1,NH3,TBT
34,17093,10556.3,5.893400,24385789,252.2690,True,0.720307,1,NH3,HBT
22,17095,10556.3,-0.008607,29997786,1107.1200,True,-0.650968,1,NH3,HBT
5,17098,10556.3,5.930260,31483334,1008.9600,True,-0.664892,0,NH3,HBT
32,17102,10556.3,5.924080,27000064,274.6660,True,-0.658761,0,NH3,HBT
20,17118,10556.3,7.710220,100368755,389.3120,True,0.004416,0,CH2,TBT
3,17138,10556.3,7.835800,100677458,1955.6500,True,0.001531,1,C,TBT
48,17144,10556.3,0.016111,20019561,1131.4100,True,0.788349,0,NH3,HBT
18,17162,10556.3,7.360190,39995655,2206.9200,True,-0.612095,1,NH3,HBT
31,17191,10556.3,7.640260,99892547,2644.8800,True,0.640683,0,NH3,HBT
33,17195,10556.3,7.480690,99337568,2676.5400,True,0.642059,1,NH3,HBT
53,17215,10556.3,-0.011035,16819807,1863.0700,True,-0.735939,0,NH3,TBT
17,17227,10556.3,7.937540,100229191,174.8000,True,0.458389,1,ND3,HBT
27,17237,10556.3,7.839770,100196503,2533.9400,True,0.398632,0,ND3,HBT
44,17262,10556.3,7.969100,97641434,1447.8100,True,0.371330,0,ND3,HBT
1,17265,10556.3,0.001104,88364393,1070.8800,True,-0.257376,0,ND3,HBT
13,17269,10556.3,-0.004855,71596607,134.9120,True,-0.245829,0,ND3,HBT
54,17273,10556.3,0.000883,98631698,1152.5300,True,-0.269058,1,ND3,HBT

In [6]:
df = pd.read_csv("toolkit/CH_CD.csv",sep="\t")
df["Q2"].to_numpy()

array([ 1.0039,  1.0039,  1.0039,  1.1985,  1.1985,  1.1985,  1.1985,
        1.4307,  1.4307,  1.4307,  1.4307,  1.7079,  1.7079,  1.7079,
        1.7079,  1.7079,  2.0389,  2.0389,  2.0389,  2.0389,  2.0389,
        2.0389,  2.434 ,  2.434 ,  2.434 ,  2.434 ,  2.434 ,  2.434 ,
        2.9056,  2.9056,  2.9056,  2.9056,  2.9056,  2.9056,  2.9056,
        3.4687,  3.4687,  3.4687,  3.4687,  3.4687,  3.4687,  3.4687,
        4.1408,  4.1408,  4.1408,  4.1408,  4.1408,  4.1408,  4.9432,
        4.9432,  4.9432,  4.9432,  4.9432,  4.9432,  5.9011,  5.9011,
        5.9011,  5.9011,  5.9011,  5.9011,  7.0446,  7.0446,  7.0446,
        7.0446,  7.0446,  7.0446,  8.4096,  8.4096,  8.4096,  8.4096,
        8.4096, 10.0392, 10.0392])

In [20]:
val1=2.038
val2=0.175
df_sort1 = df.iloc[(df['Q2']-val1).abs().argsort()[:6]]
df_sort2 = df_sort1.iloc[(df_sort1['x']-val2).abs().argsort()[:]]

In [21]:
df_sort2

        Q2      x  CD2/CH2
17  2.0389  0.175    1.120
16  2.0389  0.125    1.125
18  2.0389  0.225    1.117
19  2.0389  0.275    1.114
20  2.0389  0.325    1.113
21  2.0389  0.375    1.112

In [23]:
import numpy as np
np.unique(df["x"])

array([0.125, 0.175, 0.225, 0.275, 0.325, 0.375, 0.425, 0.475, 0.525,
       0.575, 0.625, 0.675, 0.725])

In [28]:
df_sort1 = df[df.x==val2]
df_sort2 = df_sort1.iloc[(df_sort1['Q2']-val1).abs().argsort()[:1]]

In [30]:
df_sort2["CD2/CH2"].to_numpy()[0]

1.12