In [1]:
import ROOT
import pandas as pd
import numpy as np
from pathlib import Path

Welcome to JupyROOT 6.22/06

In [38]:
rootdir = "/volatile/clas12/users/gmat/clas12analysis.sidis.data/rgc-su-train/sept8_16889_16904/ND3-hwp-out/"

In [31]:
harutCSV = pd.read_csv("/u/home/gmat/runcounts.16889.dat",sep=",",header=None)

In [32]:
display(harutCSV)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,16889,279257,274969,55452,54403,21867,21507,1096,1153,55452,54403,1280,1187
1,1,16902,497294,487217,101903,99209,40385,39847,2206,2135,101903,99209,2217,2070
2,2,16904,669876,655088,137404,133782,54650,53597,2875,2850,137404,133782,2777,2725
3,3,16905,620401,609264,126631,123747,50512,49276,2708,2587,126631,123747,2749,2530

In [79]:
def compare_run(run):
    rootfile = [path for path in Path(rootdir).glob("*/*{}*.root".format(run))][0]
    
    df = ROOT.RDataFrame("tree_postprocess",str(rootfile))
    
    gNp = df.Define("vz","abs(vz_e+4.5)").Filter("helicity==1 && p_e > 2.6 && th_e > 0.14 && th_e < 0.611 && vz < 4").Count().GetValue()
    gNm = df.Define("vz","abs(vz_e+4.5)").Filter("helicity==-1 && p_e > 2.6 && th_e > 0.14 && th_e < 0.611 && vz < 4").Count().GetValue()
    
    hNp = harutCSV[harutCSV[1]==run][2].to_numpy()[0]
    hNm = harutCSV[harutCSV[1]==run][3].to_numpy()[0]
    
    print("Run",run)
    print("Harut: N+ = {} , N- = {}".format(hNp,hNm))
    print("Gregory: N+ = {} , N- = {}".format(gNp,gNm))

In [80]:
compare_run(16889)

Run 16889
Harut: N+ = 279257 , N- = 274969
Gregory: N+ = 236380 , N- = 233085

In [81]:
compare_run(16902)

Run 16902
Harut: N+ = 497294 , N- = 487217
Gregory: N+ = 427295 , N- = 420358

In [82]:
compare_run(16904)

Run 16904
Harut: N+ = 669876 , N- = 655088
Gregory: N+ = 576718 , N- = 564334

In [2]:
rcdb = pd.read_csv("/volatile/clas12/users/gmat/clas12analysis.sidis.data/rgc-su-train/sept11/rcdb.csv")
display(rcdb)

,Run,beamE,beamCurrent,Nevents,eventRate,isValid,Tpol,HWP,Target
0,16925,10547.3,6.979250,44024710,53.1738,False,-0.314828,0,ND3
1,16910,10547.3,6.680870,91095231,436.5950,True,0.360724,0,ND3
2,16904,10547.3,6.848380,100096211,1028.7000,True,0.371010,1,ND3
3,16889,10547.3,1.133520,148000367,11140.5000,True,0.344011,1,ND3
4,16935,10547.3,-0.004635,100363981,1312.6100,True,-0.302145,1,ND3
5,16931,10547.3,6.708670,81592818,143.1220,True,-0.308846,0,ND3
6,16918,10547.3,6.730300,41197838,2376.1700,True,0.328915,0,ND3
7,16905,10547.3,7.288020,121801772,206.1830,True,0.370800,1,ND3
8,16928,10547.3,6.921430,100009041,241.6250,True,-0.312189,0,ND3
9,16927,10547.3,6.846170,100036105,1935.6200,True,-0.315002,0,ND3
10,16923,10547.3,6.901570,105328665,1000.2600,True,-0.204385,0,ND3
11,16933,10547.3,7.264400,103913913,1115.5000,True,-0.311166,1,ND3
12,16902,10547.3,6.930260,100378829,1243.4300,True,0.279058,1,ND3

In [14]:
dHEL = pd.read_csv("/work/clas12/users/gmat/tmp/rgc_HELScaler.csv",header=None,
                names=["Run","FileNumber","ScalerEntry","fcupgated","fcup","slmgated","slm","clockgated","clock","helicity","helicityRaw"])

In [15]:
display(dHEL)

,Run,FileNumber,ScalerEntry,fcupgated,fcup,slmgated,slm,clockgated,clock,helicity,helicityRaw
0,16904,0,0,0.000000,0.000000,0,0,-1,-1,0,0
1,16904,0,1,0.000000,0.232105,0,0,0,33330,0,0
2,16904,0,2,0.046451,0.229898,0,0,6469,33330,1,1
3,16904,0,3,0.151196,0.229898,0,0,21330,33330,-1,-1
4,16904,0,4,0.000000,0.000000,0,0,-1,-1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
541136,16904,1406,869,0.000000,0.000000,0,0,-1,-1,0,0
541137,16904,1406,870,0.219003,0.222174,0,0,32423,33330,0,0
541138,16904,1406,871,0.000000,0.000000,0,0,-1,-1,0,0
541139,16904,1406,872,0.216765,0.221070,0,0,32623,33330,0,0
541140,16904,1406,873,0.212382,0.221070,0,0,32427,33330,0,0

In [16]:
dRUN = pd.read_csv("/work/clas12/users/gmat/tmp/rgc_RUNScaler.csv",header=None,
                names=["Run","FileNumber","ScalerEntry","fcupgated","fcup","livetime"])

In [17]:
display(dRUN)

          Run  FileNumber  ScalerEntry   fcupgated        fcup  livetime
0       16904           0            0 -13285.5000 -13311.5000  1.000000
1       16904           0            1     36.0133     81.0373  0.000000
2       16904           0            2     36.0213     81.1443  0.194089
3       16904           0            3     36.1774     81.3010  0.639964
4       16904           0            4     36.1906     81.3143  1.000000
...       ...         ...          ...         ...         ...       ...
541136  16904        1406          869  82516.7000  85631.3000  1.000000
541137  16904        1406          870  82516.7000  85631.3000  0.972787
541138  16904        1406          871  82516.8000  85631.3000  1.000000
541139  16904        1406          872  82517.2000  85631.8000  0.978788
541140  16904        1406          873  82517.0000  85631.6000  0.972907

[541141 rows x 6 columns]